<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmy.friday.mapper.SysUserMapper">

    <resultMap type="com.lmy.friday.entity.SysUser" id="SysUserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="headImgUrl" column="headImgUrl" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="DATE"/>
        <result property="sex" column="sex" jdbcType="TINYINT"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="columns">
        username, password, nickname, headImgUrl, telephone, email, birthday, sex, status, createTime, updateTime
    </sql>


    <!--分页查询用户-->
    <select id="getUserByPage" resultMap="SysUserMap" >
        select * from sys_user t
        <where>
            <if test="search != null">
                username = #{search}
            </if>
        </where>
        order by t.id limit #{offset}, #{limit}
    </select>

    <!--查询用户数量-->
    <select id="usersCount" parameterType="java.lang.String" resultType="java.lang.Long" >
       select count(*) from sys_user
        <where>
            <if test="search != null">
                username = #{search}
            </if>
        </where>
    </select>

    <!--根据用户名查询-->
    <select id="selcetUserByUsername" parameterType="java.lang.String" resultMap="SysUserMap" >
        select * from sys_user where username = #{username}
    </select>

    <!--根据手机号查询-->
    <select id="selcetUserByTelephone" parameterType="java.lang.String" resultMap="SysUserMap" >
        select * from sys_user where telephone = #{telephone}
    </select>

    <!--根据优先查询-->
    <select id="selcetUserByEmail" parameterType="java.lang.String" resultMap="SysUserMap" >
        select * from sys_user where email = #{email}
    </select>


    <insert id="insertUser" parameterType="sysUser" keyProperty="id" useGeneratedKeys="true">
        insert into sys_user (<include refid="columns"></include>) values(#{username}, #{password}, #{nickname},
         #{headImgUrl}, #{telephone}, #{email}, #{birthday}, #{sex}, #{status}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateUser" parameterType="sysUser">
        update sys_user t
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="headImgUrl != null">
                headImgUrl = #{headImgUrl},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="telephone != null">
                telephone = #{telephone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            updateTime = #{updateTime}
        </set>
        where t.id = #{id}
    </update>

</mapper>